.programme{

	&__container {
		font-family: $paragraph-font-family;
		background: $dark-color;
		color: $light-color;
		float:left;
		border-left: 1px solid #272727;
		border-bottom: 1px solid #272727;
		height: 90px;
		&__inner {
			padding:5px 10px;
			&--sub {
				color: $moderate-light-color;
			}
		}
		&:after {
		    content:"";
    		display:block;
    		clear:both;
		}
	}
	&__row{
		display: table;
		margin-left:150px;
		@media screen and (max-width: 767px) {
		    margin-left: 100px;
		}
	}
}
.list {
	&__horizontal {
	    overflow-x: scroll;
	    width: auto;
	    /* height: 210px; */
	    /* border: 13px solid #bed5cd; */
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
}
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
